	footer {
		margin: 15px auto 30px auto;
		padding: 1em;
		background: var(--bkg);
		border-radius: 15px;
		max-width: calc(100% - 10rem);
		justify-items: center;
		text-align: center;
	}

	.f-social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 15px;
	}

	.f-social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	
	.f-social-links a:hover {
		color: rgb(var(--gray-light));
	}